
body {
	
	background-color:#b6210b;
	background-size: 100%;
}


div#box-login {
	background-color: #1d6bab;
	width: 350px;
	height: 400px;
	margin-top: 100px;
	margin-left: 35%;
	 
}

div#box-logo {
	width: 150px;
	height: 200px;
}

div#user {
	margin-left: 30%;
	margin-top: 20px;
}


div#pass {
	margin-left: 30%;
	margin-top: 30px;
}

#user input {
	color: black;
}

#pass input {
	color: black;
}

div #spacebottom {
	width: 100px;
	height: 100px;
}

div#Bottom {
	margin-left: 150%;
	margin-top: 40%;
	cursor: pointer;
	background-image: url("../img/btn.png");

	}

div#box-logo img {
	width: 200px;
	height: 200px;
	margin-left: 50%;
	margin-top: 10px;

}

/*----------------HOME----------------------*/

header,footer{
	width: 100%;
	background-color: #1d6bab;
	min-height: 100px;
	height: auto;
}


div#logo {

	width: 100px;
	height: 100px;
	background-image:url("../img/logo.png");
	background-size: 100% 100%;

}

nav {
	
	width: 96%;
	float: left;


}

nav ul {
	list-style: none;
	width: 80%;
	margin-left: 0;
	text-align: right;
	margin-top:-30px;
}

nav ul li {
	display: inline-block;
	background-color: #EEE8AA;
	width: 180px;
	text-align: center;
	padding: 6px;
	color:black;
	cursor:pointer;
}

nav ul li#album {
	display: inline-block;
	background-color: black;
	width: 180px;
	text-align: center;
	padding: 6px;
	color:#EEE8AA;
	cursor:pointer;
}


nav ul li#album:hover{
	background-color: #EEE8AA;
	color: black;
}

nav ul li:first-child{
	border-radius: 12px 0 0 0;
}

nav ul li:last-child{
	border-radius: 0 12px 0 0;
}

nav ul li:hover{
	background-color: black;
	color: #EEE8AA;
}

/* ----------------- FIGURINHAS DE APRESENTAÇÃO --------------*/
section#s1 {
	padding:-1px 20px;
}

section#s1 article {
	display: inline-block;
	height: 200px;
	border: 5px ridge #EEE8AA;
	width: 258px;
}

article#Time{
	margin-left: 10%;
}



article#Brasão {
	margin-left: 7%;
}


section#s1 p {
	color: #EEE8AA;
}

/* Figurinhas do time */



div#Figurinhas {
	float:left;
	height: 100%;
	margin-top: 50px;
	margin-left: -50px; 
}




section#s2, section#s3, section#s4 {
	padding:0px px;
}





section#s2 article, section#s3 article, section#s4 article {
	float: left;
	height: 370px;
	border: 1px solid #EEE8AA;
	width: 220px;
	margin-top: 20px;
}

article#jogador {
	margin-left: 19px;
}


section#s2 p, section#s3 p, section#s4 p {
	color: #EEE8AA;
}




















